<div class="row">
  <div class="span12">
    <h1>Welcome to the CMS</h1>

    <div style="color:red;" id="results">
      <%= @status %>
    </div>
    <br/><br/>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="span3">
      <tr>
        <td><a id="live_btn" class="btn btn-primary
        <% if (@version == 'live') %>disabled
        <% end %>" href="/live">Live</a></td>
        <td><a id="draft_btn" class="btn btn-primary
        <% if (@version == 'draft') %>disabled
        <% end %>" href="/draft">Draft</a></td>
        <td><h5>Viewing <%= @version %> items</h5></td>
      </tr>
    </table>
    <br/>
    <br/>
    <table class='table table-striped span12'>
      <tr>
        <th>Edit</th>
        <th>Title</th>
        <th>Content</th>
        <th>Page</th>
        <th>Block</th>
        <th>Type</th>
        <% if @version == CmsContent::DRAFT_STATE %>
            <th>&nbsp;</th>
        <% end %>
        <th>&nbsp;</th>
      </tr>
      <% @content_list.each do |item| %>
          <tr>
            <td>
              <a class="btn btn-mini btn-inverse" href="/show/text/<%= CGI::escape(item['page']) %>/<%= item['block'] %>/<%= @version %>"><i class="icon-pencil icon-white"/></i>
              </a></td>
            <td><%= item['title'] %></td>
            <td><%= item['content'] %></td>
            <td><%= item['page'] %></td>
            <td><%= item['block'] %></td>
            <td><%= item['type'] %></td>
            <% if @version == CmsContent::DRAFT_STATE %>
                <td>
                  <form action="/update/<%= item['type'] %>/<%= CGI::escape(item['page']) %>/<%= item['block'] %>/<%= item['version'] %>" method="post">
                    <input type="hidden" name="action" value="make_live">
                    <button type="submit" class="btn-small btn-success"><i class="icon-ok icon-white"></i> Make Live</button>
                  </form>
                </td>
            <% end %>
            <td>
              <form action="/update/<%= item['type'] %>/<%= CGI::escape(item['page']) %>/<%= item['block'] %>/<%= item['version'] %>" method="post">
                <input type="hidden" name="action" value="delete">
                <button type="submit" class="btn-small btn-danger"><i class="icon-trash icon-white"></i> Delete</button>
              </form>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h3>Add new text item:</h3>

    <form class="well" action="/new/text" method="post" id="new_text_form">
      <label>Title</label>
      <input type="text" name="title" id="title" class="span4" placeholder="Enter content title"/>
      <label>Content</label>
      <textarea rows="3" cols="30" name="content" id="content" class="span5"/></textarea>
      <label>Page</label>
      <input type="text" name="page" id="page" class="span2"/>
      <label>Block</label>
      <input type="text" name="block" id="block" class="span2"/>
      <br/>
      <button type="submit" class="btn"/>Submit</button>
    </form>
  </div>
  <div class="span6">
    <h3>Add new file:</h3>

    <form class="well" enctype="multipart/form-data" action="/new/file" method="post">
      <label>URL</label>
      <input type="text" name="page" class="span4" placeholder="Enter URL for file (no spaces)"/>
      <label>Select a File</label>
      <input type="file" name="the_file" />
      <label>Description</label>
      <input type="text" name="content" id="description" class="span3"/>
      <br/>
      <button type="submit" class="btn"/>Upload</button>
    </form>
  </div>

</div>
