<% @add_on_js = "bkLib.onDomLoaded(nicEditors.allTextAreas);" %>

<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="span12">
    <a href="/live"><i class="icon-list-alt"/></i> Back to List</a>

    <h1>DisContent: Item View</h1>

    <div style="color:red;" id="status">
      <%= params[:status] %>
    </div>
    <br/><br/>
  </div>
</div>

<div class="row">
  <div class="span8">
    <div class="row">
      <form action="/update/<%= @item['type'] %>/<%= CGI::escape(@item['page']) %>/<%= @item['block'] %>/<%= @item['version'] %>" method="post">
        <input type="hidden" name="page" value="<%= @item['page'] %>"/>
        <input type="hidden" name="block" value="<%= @item['block'] %>"/>
        <input type="hidden" name="ver" value="<%= @item['version'] %>"/>

        <table class='table span8'>
          <tr><td colspan="2">
            <h3>Item for <%= @item['page'] %>, block <%=  @item['block'] %>, in <%= @item['version'] %> state.</h3>
          </td></tr>
          <tr>
            <th>Title</th>
            <td><input type="text" name="title" class="span3" value="<%= @item['title'] %>"/></td>
          </tr>
          <tr>
            <th>Content</th>
            <td>
              <textarea class="span8" name="content" id="item-content" rows="20" cols="80" placeholder="Enter content here."><%= @item['content'] %></textarea>
            </td>
          </tr>
          <tr>
            <th>Page</th>
            <td><%= @item['page'] %></td>
          </tr>
          <tr>
            <th>Block</th>
            <td><%= @item['block'] %></td>
          </tr>
          <tr>
            <th>Type</th>
            <td><%= @item['type'] %></td>
          </tr>
          <tr>
            <th>Version</th>
            <td><%= @item['version'] %></td>
          </tr>
          <tr>
            <th>Last Updated</th>
            <td>By <%= @item['author'] || "Unknown" %> at <%= Time.at(@item['last_updated']).strftime("%m/%d/%Y %I:%M:%S") rescue "Unknown" %></td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="submit" value="Save" name="action" class='btn btn-primary'/>
              <% if @item['version'] == CmsContent::DRAFT_STATE %>
                  <input type="submit" value="Make Live" name="action" class='btn btn-success'/>
              <% end %>
              <input type="submit" value="Delete" name="action" class='btn btn-danger'/>
            </td>
          </tr>
        </table>
      </form>
    </div>

    <% if (@items.length > 0) %>
        <div class="row">
          <h3>Other versions of this item:</h3>
          <table class='table span8'>
            <tr>
              <th>Edit</th>
              <th>Title</th>
              <th>Content</th>
              <th>Version</th>
              <th>Last Updated</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
            <% @items.each do |i| %>
                <tr>
                  <td><a class="btn btn-mini btn-inverse" href="/show/text/<%= CGI::escape(i['page']) %>/<%= i['block'] %>/<%= i['version'] %>"><i class="icon-pencil icon-white"/></i>
                    </a></td>
                  <td><%= i['title'] %></td>
                  <td><%= i['content'] %></td>
                  <td><%= i['version'] %></td>
                  <td>By <%= @item['author'] || "Unknown" %> at <%= Time.at(i['last_updated']).strftime("%m/%d/%Y %I:%M:%S") rescue "Unknown" %></td>
                  <td>
                    <form action="/update/<%= i['type'] %>/<%= CGI::escape(i['page']) %>/<%= i['block'] %>/<%= i['version'] %>" method="post">
                      <input type="hidden" name="action" value="delete">
                      <button type="submit" class="btn-small btn-danger"><i class="icon-trash icon-white"></i> Delete</button>
                    </form>
                  </td>
                  <td>
                    <% if (i['version'] == CmsContent::RETIRED_STATE) %>
                        <form action="/update/<%= i['type'] %>/<%= CGI::escape(i['page']) %>/<%= i['block'] %>/<%= i['version'] %>" method="post">
                          <input type="hidden" name="action" value="revert">
                          <button type="submit" class="btn-small btn-primary"><i class="icon-backward icon-white"></i> Revert</button>
                        </form>
                    <% else %>&nbsp;
                    <% end %>
                  </td>
                </tr>
            <% end %>
          </table>
        </div> <!-- end row -->
    <% end %>
  </div> <!-- end span6 -->
</div> <!-- end row -->

